@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #ffffff;
  --icon: #1f5137;
  --button: #3f3f3f;
}

.page-size {
  @apply max-w-screen-2xl w-full mx-auto;
}
